# =============================================================================
# Kit Projet Airflow - Variables d'environnement
# =============================================================================

# Airflow
AIRFLOW_UID=
AIRFLOW_GID=
AIRFLOW__CORE__EXECUTOR=
AIRFLOW__CORE__LOAD_EXAMPLES=
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=
AIRFLOW__CELERY__RESULT_BACKEND=
AIRFLOW__CELERY__BROKER_URL=
AIRFLOW__API__AUTH_BACKENDS=
AIRFLOW__WEBSERVER__SECRET_KEY=

# PostgreSQL Airflow Metadata DB
POSTGRES_AIRFLOW_USER=
POSTGRES_AIRFLOW_PASSWORD=
POSTGRES_AIRFLOW_DB=

# PostgreSQL DWH
POSTGRES_DWH_USER=
POSTGRES_DWH_PASSWORD=
POSTGRES_DWH_DB=

# PostgreSQL Source DB (Sujet B)
POSTGRES_SOURCE_USER=
POSTGRES_SOURCE_PASSWORD=
POSTGRES_SOURCE_DB=

# MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# API simulee
API_TOKEN=
API_HOST=
API_PORT=
